body
{
	margin-top: 30px;
	background-color: white
/* 	background: url('../images/background.jpg');\ */
/* 	background-repeat:no-repeat;
background-size:cover; */
}

img
{
	width:100%;
}

.how-you-did
{
	display:none;
}

h1
{
	font-size: 90px;
}

.list-group-item
{
	font-size: 20px;
}

.game-board
{
	display: none;
}

.progress-bar
{
	width: 0%;
}